<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Check His Height</h1>
      <hr>
      <p>Estimate people's heights from objects in their image.</p>

      <div class="col-sm-5 center-input">
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="ratingForm">
              <div class="row">
                <div class="form-group col-sm-10 center-input">
                  <label for="exampleFormControlFile1">Full Body Photo</label>
                  <input type="file" class="form-control-file" id="photo" accept="image/*;capture=camera">
                  <div class="invalid-feedback" id="photoError">
                    Please provide a valid photo.
                  </div>
                  <div class="invalid-feedback" id="dimensionError">
                    Note: the algorithm only works if their full body is visible
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="center-input col-sm-10 preview-holder">
                  <img id="preview" />
                  <canvas id="myCanvas"></canvas>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary btn-xl">Submit</button>
              </div>
              <div class="row">
                <div class="loader-holder" id="loaderHolder">
                  <div class="loader"></div>
                </div>
              </div>

              <div class="row">
                <div class="center-input col-sm-10" id="resultsHolder">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h2 class="panel-title">Your CheckHisHeight.com Results</h2>
                    </div>
                    <div class="panel-body" id="resultText"></div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h2 class="panel-title">Change drink type</h2>
                    </div>
                    <div class="panel-body" id=""></div>
                    <select id="drinkType">Drink type:
                      <option value="beer bottle">Beer Bottle (normal)</option>
                      <option value="Sierra Nevada">Beer Bottle (Sierra Nevada)</option>
                      <option value="Corona">Beer Bottle (Corona)</option>
                      <option value="Rouge Dead Guy Ale">Beer Bottle (Rouge Dead Guy Ale)</option>
                      <option value="Pacifico">Beer Bottle (Pacifico)</option>
                      <option value="Stone Ruination">Beer Bottle (Stone Ruination)</option>
                      <option value="Shock Top">Beer Bottle (Shock Top)</option>
                      <option value="stubby">Beer Bottle (stubby)</option>
                      <option value="long neck">Beer Bottle (long neck)</option>
                      <option value="bomber">Beer Bottle (bomber)</option>
                      <option value="mini growler">Mini Growler</option>
                      <option value="growler">Growler</option>
                      <option value="cup">cup</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>